<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bem-Vindo</title>
    <style>
        h1{color:white;font-family:verdana}

        form{color:white;font-family:verdana}

        div{ width: 300px;
            height: 300px;}

        #interface{text:align="center"}
</style>

</head>
<body background="http://www.sonyphotog.com/photos/globalmedicalco/4/16692.jpg">

    <div id="interface" align="center" style="background-color:#0A0A2A">
        <h1>Login de Funcionários</h1>

        <form>
            Nome do Funcionário:<br>
            <input type="text" name="firstname"><br>
            Senha:<br>
            <input type="text" name="lastname"><br>
            <br><input type="submit" value="Entrar">
        </form>
    </div>






</body>
</html>